body{
    justify-content: center;
}
.container{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 300px;
    padding:4px;
    margin: auto;
    border:2px black;
    border-radius: 4px;
    box-shadow: 4px 4px 10px;
}
.grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:10px;
}
button{
    width: 94px;
    height: 44px;
    border:2px;
    border-radius: 2px;
     background-color: aqua;
}
.hover:hover{
    cursor: pointer;
    background-color: grey;
    
}
.active:active{
    background-color:grey;
}
.focus:focus-visible{
    outline: 2px solid #000000;
    outline-offset: 2px;
}
.dis{
    background-color: grey;
    cursor:not-allowed;
}