html{
    background-color: rgb(28, 184, 106);
}
.container{
  display: flex;
  flex-wrap:nowrap;
  width:1000px;
  padding:2px;
  border:2px solid black;
  margin:10px auto; 
}
.box{
    text-align: center;
    justify-content: center;
    width:800px;
    padding:7px; 
    background-color: rgb(238, 245, 239);;
    border:2px solid black;
    margin:1px;
}
.decor{ 
    margin:1px;
    padding: 1px; 
    color: white; 
    text-align: center;
    width: 1300px auto;
    height:40px;
    text-decoration: underline;
    background-color:rgb(0, 0, 0);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p{ 
    text-align: center;
    text-decoration: underline;
    font-size:large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold; 
    color:rgb(0, 0, 0);
}
.cont{
    width:1100px; 
    height:750px; 
    background:rgb(27, 99, 21);
    padding:10px;
    border:2px black; 
    box-shadow:2px 4px 28px ;
    margin:20px;
}  
footer{   
    text-align: center;
    width: 1300px auto;
    height:40px;
    text-decoration: underline;
    border:3px solid black;
    background-color: rgb(71, 71, 71);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}